/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/hoverbp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
img {
    max-width: 100%;
}
p{
    margin: 0;
}
h1{
    margin: 0;
    font-size: 230%;
    text-transform: uppercase;
}
h3{
    text-transform: uppercase;
}
h4{
    text-transform: uppercase;
    font-size: 200%;
}
h5{
    color: #fe4818;
    font-size: 150%;
}

body{
   max-width: 100%;
}
body .contenedor{
    max-width: 100%;
    background-color: #f2f2f2;
    
}

.encabezado{
    height: 100vh;
    background: url(../img/encabezado.jpg);
    background-size: cover;
    background-position: top center;
}
.encabezado .logo{
    width: 100%;
    height: 88%;  
}

.encabezado .logo .contenedor-iconos-superiores{
    display: flex;
    justify-content: center;
    padding-top: 1%;
}
.encabezado .logo .contenedor-iconos-superiores .iconos-superiores{
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.encabezado .logo .contenedor-iconos-superiores i{
    color: white;
    text-align: center;  
}

.encabezado .logo .texto-encabezado{
    margin: 0 auto;
    color:white;
    width: 50%;
    margin-top: 5%; 
}
.encabezado .logo .texto-encabezado .parrafos{
    display: flex;
    justify-content: space-between;
}
.encabezado .logo .texto-encabezado .titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.encabezado .logo .texto-encabezado .titulos .titulo{
    font-size: 590%;
}
.encabezado .logo .texto-encabezado .subtitulo{
    font-size: 150%;
}
.texto-encabezado .parrafos i{
    color:#fe4818;
}
.texto-encabezado .subtitulo span{
    font-weight: bold;
}

.barra{
    max-width: 100%;
    height: 12%;
    background-color:#161616;
    padding: .8% 2%;
}    
.barra .navegacion{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barra .navegacion p{
    text-decoration: none;
    color:white;
    width: 50%;
}
.barra .navegacion a{
    text-decoration: none;
    color:white;
    width: 50%;
}
.barra .navegacion .link-titulo{
    font-size: 250%;
    display:flex;
    width: 50%;
}
.barra .navegacion .link-titulo i{
    padding: 1% 2% 0 0;
}
.barra .navegacion .link-nav{
    font-size: 125%;
    display: flex;
    align-items: center;
    width: 50%;
}
.barra .navegacion .link-nav a{
    padding: 0 2%;
    transition: color .3s ease-in
}
.barra .navegacion .link-nav a:hover{
    color:#fe4818;
}
.barra .navegacion .link-nav .reservas{
    color:#fe4818;
    padding: 2% 7%;
    border: 1px solid #fe4818;
    transition: color .3s ease-in;
}
.barra .navegacion .link-nav .reservas:hover{
    color:#af2c08;
    border: 1px solid #5f1602;
}
.barra .navegacion .link-titulo i{
    color:#fe4818;
}
.intro{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}
.intro .contenedor-intro{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}
.intro .contenedor-intro p{
    text-align: center;
    margin-top: 3%;
}
.hero{
    height: 830px;
    width: 100%;
    background: url(../img/bg-talleres.jpg);
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    
}
.hero .contenido-hero{
    background: rgba(253, 251, 251, 0.3);
    height: 70%;
    width: 50%;
    padding-left: 5%;
    
}
.hero .contenido-hero .hero-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3%;
}
.hero .contenido-hero .hero-flex h1{
    margin-top: 3%;
}
.hero .contenido-hero .hero-flex .iconos-programa{
    margin-top: 3%; 
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.hero-flex .iconos-programa i{
    color: #fe4818;
}
.iconos-programa i a{
    padding-left: 5%;
    color:#6b6b6b;
    font-size: 140%;
    font-weight: bold;
    text-decoration: none;
}
.hero .contenido-hero .hero-flex .linea-naranja{
    width: 100%;
    height: 50px;
}
.hero .hero-flex .contenedor-talleres{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contenedor-talleres h3{
    color: #fe4818;
}
.contenedor-talleres p{
    margin-top: 2%;
}
.contenedor-talleres p i{
    color: #fe4818;
    padding-right: .8%;
    font-size: 120%;
}
.contenedor-talleres .linea-negra{
    background-color: #545454;
    height: 1px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.contenedor-talleres .contenido-2 h3{
    margin: 0;
}
.contenido-hero .hero-flex .ver-todos{
    display: flex;
    justify-content: flex-end;
    margin-top: 8%;
    width: 100%;
}
.contenido-hero .hero-flex .ver-todos a{
    padding: 2% 5%;
    text-decoration: none;
    background-color: #fe4818;
    color: white;
    font-weight: bold;
}
.invitados{
    width: 100%;
    height: 700px;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.invitados .encabezado-invitados{
    height: 20%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.invitados .fotos-invitados{
    height: 80%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10%;
    grid-column-gap: 2%;
    margin-top: 1%;
}
.invitados .fotos-invitados .inv-1{
    background-image: url(../img/invitado1.jpg);
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.invitados .fotos-invitados .inv-1 p{
    background: rgba(49, 49, 49, 0.9);
    padding: 5% 0 5% 5%;
    color: #fe4818;
    font-size: 150%;
    width: 100%;
}
.invitados .fotos-invitados .inv-2{
    background-image: url(../img/invitado2.jpg);
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.invitados .fotos-invitados .inv-2 p{
    background: rgba(49, 49, 49, 0.9);
    padding: 5% 0 5% 5%;
    color: #fe4818;
    font-size: 150%;
    width: 100%;
}
.invitados .fotos-invitados .inv-3{
    background-image: url(../img/invitado3.jpg);
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.invitados .fotos-invitados .inv-3 p{
    background: rgba(49, 49, 49, 0.9);
    padding: 5% 0 5% 5%;
    color: #fe4818;
    font-size: 150%;
    width: 100%;
}
.invitados .fotos-invitados .inv-4{
    background-image: url(../img/invitado4.jpg);
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.invitados .fotos-invitados .inv-4 p{
    background: rgba(49, 49, 49, 0.9);
    padding: 5% 0 5% 5%;
    color: #fe4818;
    font-size: 150%;
    width: 100%;
}
.invitados .fotos-invitados .inv-5{
    background-image: url(../img/invitado5.jpg);
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.invitados .fotos-invitados .inv-5 p{
    background: rgba(49, 49, 49, 0.9);
    padding: 5% 0 5% 5%;
    color: #fe4818;
    font-size: 150%;
    width: 100%;
}
.invitados .fotos-invitados .inv-6{
    background-image: url(../img/invitado6.jpg);
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.invitados .fotos-invitados .inv-6 p{
    background: rgba(49, 49, 49, 0.9);
    padding: 5% 0 5% 5%;
    color: #fe4818;
    font-size: 150%;
    width: 100%;
}
.resumen{
    height: 600px;
    width: 100%;
    background: url(../img/bg-resumen.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resumen .contenedor-resumen{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.resumen .contenedor-resumen .apartado{
    margin: 0;
}
.resumen .contenedor-resumen .apartado .numero{    
    font-size: 300%;
    color: #fe4818;
    font-weight: bold;
    text-align: center;
}
.resumen .contenedor-resumen .apartado .texto{
    font-size: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.precios{
    width: 100%;
    height: 600px;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.precios .encabezado-precios{
    height: 20%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.precios .contenedor-precios{
    height: 80%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4%;
    max-width: 100%;
}
.precios .contenedor-precios .un-dia{
    background-color: white;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #cdcdcd;
}
.precios .contenedor-precios .dos-dias{
    background-color: white;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #cdcdcd;
}
.precios .contenedor-precios .tres-dias{
    background-color: white;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #cdcdcd;
    transition: .5s ease;
}
/* .precios .contenedor-precios .tres-dias:hover{
    height: 100%;
    width: 120%;
    
    border: 1px solid #fe4818;
}esto no soy capaz de hacerlo bien con el hover, queda por detras de las otras columnas */
.precios .contenedor-precios .titulo{
    color: #fe4818;
    font-size: 175%;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
   
}
.precios .contenedor-precios .precio{
    font-size: 350%;
    font-weight: bold;
    color: black;
    text-align: center;
}
.precios .contenedor-precios p{
    color: #767676;
    width: 100%;
    text-align: center;
   
}
.precios .contenedor-precios p i{
    color:#0e9a00;
    margin-right: 2%;
    
}
.precios .contenedor-precios a{
    color: #fe4818;
    padding: 2% 5%;
    background-color: white;
    border: 2px solid #fe4818;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
.precios .contenedor-precios a:hover{
    color: white;
    background-color:#fe4818;
}
.precios .contenedor-precios .entradas{
    font-size: 100%;
    font-weight: bold;
}
.precios .contenedor-precios .entradas{
    display: flex;
    justify-content: center;
}
.precios .contenedor-precios .entradas input{
    width: 50%;
    margin-bottom: 2%;
    
}
.mapa{
    width: 100%;
    height: 500px;
}
.testimoniales{
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}
.testimoniales .encabezado-testimoniales{
    height: 20%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimoniales .contenedor-testimoniales{
    height: 80%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4%;
    justify-content: space-between;
    max-width: 100%;
}
.contenedor-testimoniales .testimonial-1 {
    height: 70%;
    background-color: white;
    border: 1px solid #dcdcdc;
    max-width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 4% 4%;
    
}
.contenedor-testimoniales .testimonial-1 .opinion{
    grid-row: 1/3;
    max-height: 100%;
    display: flex;
    line-height: 170%;
    
}
.contenedor-testimoniales .testimonial-1 .persona{
    display: flex;
}
.contenedor-testimoniales .testimonial-1 .persona .texto{
    display: flex;
    flex-direction: column;
    
}
.contenedor-testimoniales .testimonial-2 {
    height: 70%;
    background-color: white;
    border: 1px solid #dcdcdc;
    max-width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 4% 4%;
    
}
.contenedor-testimoniales .testimonial-2 .opinion{
    grid-row: 1/3;
    max-height: 100%;
    display: flex;
    line-height: 170%;
    
}
.contenedor-testimoniales .testimonial-2 .persona{
    display: flex;
}
.contenedor-testimoniales .testimonial-2 .persona .texto{
    display: flex;
    flex-direction: column;
    
}
.contenedor-testimoniales .testimonial-3 {
    height: 70%;
    background-color: white;
    border: 1px solid #dcdcdc;
    max-width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 4% 4%;
    
}
.contenedor-testimoniales .testimonial-3 .opinion{
    grid-row: 1/3;
    max-height: 100%;
    display: flex;
    line-height: 170%;
    
}
.contenedor-testimoniales .testimonial-3 .persona{
    display: flex;
}
.contenedor-testimoniales .testimonial-3 .persona .texto{
    display: flex;
    flex-direction: column;
    
}
.contenedor-testimoniales img{
    height: 90%;
    width: 30%;
    border-radius: 50%;
    
}
.contenedor-testimoniales i{
    color:#fd4918;
    font-size: 125%;
}
.contenedor-testimoniales .opinion p{
    text-align: justify;
    padding: 0 4%;
}
.persona .texto p{
    padding-left: 5%;
}
.persona .texto .nombre{
    color: #fd4918;
    font-size: 100%;
    font-weight: bold;
}
.newsletter{
    margin: 0;
    height: 600px;
    width: 100%;
    background: url(../img/bg-inscribir.jpg);
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.newsletter .parrafo{
    font-size: 200%;
    letter-spacing: 1px;
} 
.newsletter .titulo{
    font-size: 590%;
    text-transform: uppercase;
}
.newsletter .boton{
    margin-top: 5%;
    font-size: 300%;
    padding: 1% 4%;
    border: 5px solid white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -2px;
    transition: .3s ease-in 
}
.newsletter .boton:hover{
    background-color: #fd4918;
    
}
.contador{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
.contador .encabezado-contador{
    height: 20%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contador .contenido-contador{
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contador .contenido-contador .numero{
    font-size: 300%;
    color: #fe4818;
    font-weight: bold;
    text-align: center;
}
.contador .contenido-contador .texto{
    font-size: 200%;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.pie{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    background: #353535;
    color: white;
    margin-top: 2%;
    
    
}
.pie .contenido{
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4%;
    
}
.pie .contenido .item{
    width: 33,3%;
    height: 100%;
}
.pie .contenido .item p{
    line-height: 200%;
}
.pie .contenido .item span{
    color:  #fe4818;
}
.pie .contenido .item a{
    color: white;
    text-decoration: none;
    font-size: 200%;
    padding: 3%;
}
.copy{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100%;
    background: #2e2e2e;

}
/* EMPEZAMOS CONFERENCIA.HTML */
.galeria{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galeria .encabezado-galeria{
    height: 20%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.galeria .contenido-galeria{
    height: 80%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2%;
  
}
.galeria .contenido-galeria img{
    height: 40%;
}
/* empezamos calendario */
.calendario{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 10%;
}
.calendario .encabezado-calendario{
    height: 20%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calendario .contenedor-calendario{
    margin-top: 6%;
    height: 80%;
    width:90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 1fr 1fr 1fr;
    border: 1px solid #acacac;
}

.calendario .contenedor-calendario .fecha{
    background-color: #fe4818;
    font-size: 220%;
    grid-column: 1/ 4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid #acacac;
}
.calendario .contenedor-calendario .item{
    border: 1px solid #acacac;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 125%;
    font-size: 175%;
}
.calendario .contenedor-calendario .item .titulo{
    text-transform: uppercase;
    color: #fe4818;
    font-weight: bold;
    text-align: center;
}
.calendario .contenedor-calendario .item p{
    background-color: transparent;
    font-size: 75%;
    width: 100%;
    text-align: center;
}
.calendario .contenedor-calendario .item p i{
    color: #fe4818;
    padding-right: 5%;
}


/* REGISTRO */
.formulario{
    margin-top: 6%;
    height: 2400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formulario .encabezado-formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formulario .contenido-formulario{
    width: 90%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formulario .contenido-formulario .datos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    height: 8%;
    background-color: white;
}
.formulario .datos .campo{
    width: 33%;
    padding-left: 4%;
}

.formulario .contenido-formulario .dia{
    height:300px;
    width: 100%;
    background: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15% 85%;
    grid-column-gap: 7%;
    grid-row-gap: 7%;
    
}
.formulario .contenido-formulario .dia .dia-linea{
    height: 60%;
    
    grid-column: 1/ 4;
    text-align: center;
    font-size: 100%;
    border-bottom: solid 1px brown; 
    margin-top: 3%;
    font-weight: bold;

}
.formulario .contenido-formulario .dia .seccion{
    height: 85%;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 7%;
    margin-left: 5%;
    line-height: 1.8;
    
}
.formulario .contenido-formulario .dia .seccion p{
    font-size: 95%;
    font-weight: bold;
    padding-bottom: 2%;
    
}
.seccion label time{
    color: #fe4818;
    padding-left: 2%;
    padding-right: 1%;
    font-weight: bold;
}
.formulario .contenido-formulario .pago{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.formulario .contenido-formulario .pago .seccion{
    margin: 0 5%;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pago .seccion .item{
    width:100%;
    height: 15%;
    display: flex;
    flex-direction: column;
}
.pago .seccion .item label{
    font-size: 100%;
    font-weight: bold;
}
.pago .seccion .item input{
    width: 50%;
}
.pago .seccion .regalo{
    height: 50%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.pago .seccion .regalo .regalo{
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.pago button{
    
    text-transform: uppercase;
    padding: 2% 5%;
    background-color: #fe4818;
    color: white;
    border: solid 3px #fe4818;
    width: 30%;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 3%;
}
.pago button:hover{
    background-color: white;
    color: #fe4818;
}
.pago .seccion .pago{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pago .seccion .pago p{
    line-height: 1.8;
    font-size: 100%;
    font-weight: bold;
}
/* RESPONSIVE */

@media (max-width: 768px){
    .encabezado {
        height: 80%;
    }
    .encabezado .logo .texto-encabezado  {
        width: 70%;
        height: 50vh;
        font-size: 70%;}

    .encabezado .logo .contenedor-iconos-superiores .iconos-superiores {
        width: 50%;
    }
    .barra {
        width: 100%;
        height: 20vh;
    }
    .barra .navegacion {
        display:flex;
        flex-direction: column;  
        justify-content: center;
        height: 20vh;
        padding: 0;    
    }
    .barra .navegacion .link-titulo  {
        display:flex;
        flex-direction: column;
        align-items: center;
        font-size: 150%;
        text-align: center;
        justify-content: space-between;
        
    }
    .barra .navegacion .link-nav  {
        display:flex;
        flex-direction: column;
        align-items: center;
        font-size: 100%;
        text-align: center;
        justify-content: space-between;
        height: 50%;
        
    }
    .barra .navegacion .link-nav .reservas {
        padding: 0;
        border: none;     
    }
    .intro{
        height: 30vh;
        display: flex;
        justify-content: center;
    }
    .intro .contenedor-intro{
        width: 90%;
    }
    .intro .contenedor-intro h1{
        font-size: 150%;
    }
    .intro .contenedor-intro p{
        font-size: 100%;
    }
    .hero .contenido-hero{
        height: 50%;
    }
    .hero .contenido-hero .hero-flex h1{
        font-size: 125%;
    }
    .hero .contenido-hero .hero-flex img{
        width: 20%;
    }
    .hero .contenido-hero .hero-flex .iconos-programa{
        font-size: 70%;
    }
    .hero .contenido-hero .hero-flex .linea-naranja img{
        width: 100%;
        height: 40px;
    }
    .invitados .fotos-invitados div{
        font-size: 70%;
    }
    .resumen{
        height: 30vh;
        
    }
    .precios .contenedor-precios .titulo{
        font-size: 120%;
    }
    .precios .contenedor-precios p{
        font-size: 70%;
    }
    
    .testimoniales .contenedor-testimoniales .opinion{
        font-size: 90%;
        line-height: 1.2;
        text-align: initial;
    }
    .testimoniales .contenedor-testimoniales .persona img{
        height: 65%;
    }
    .pie{
        height: 25vh;
    }
    .pie .contenido .item h4{
        font-size: 110%;
    }
    .pie .contenido .item p{
        font-size: 75%;
    }
    .pie .contenido .item i{
        font-size: 75%;
    }
    /* RESPONSIVE DE CONFERENCIA */
    
    .galeria .contenido-galeria img{
        height: 30%;
    }
    /* registro */
    .pago .seccion .calcular{
        width: 50%;
    }








































}








 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


